Repository Ut-Devs/open-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --syntax scss --fix, prettier --write

fix: lintsagedrc
  .lintstagedrc.json
Due: none

fix: eslint and start new components structures
  .eslintrc.cjs
  .lintstagedrc.json
  src/Views/Private/Chat/Chat.scss
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.scss
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.vue
Due: stylelint --syntax scss --fix, prettier --write

feat: change esling props
  .eslintrc.cjs
  src/Views/Private/Chat/Chat.vue
Due: prettier --write

feat: change eslint configs, add messages to the chat window
  .eslintrc.cjs
  package.json
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/Messages/Messages.scss
  src/Views/Private/Chat/components/Messages/Messages.vue
  src/models/Message.model.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: stylelint --syntax scss --fix, prettier --write

feat: add styles to messages boxes
  src/Views/Private/Chat/components/Messages/Messages.scss
  src/Views/Private/Chat/components/Messages/Messages.vue
Due: stylelint --syntax scss --fix, prettier --write

feat: correct messages box style and add when the message was sent
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/Messages/Messages.scss
  src/Views/Private/Chat/components/Messages/Messages.vue
  src/helpers/date/index.ts
Due: stylelint --syntax scss --fix, prettier --write

ci: add deployment file to project
  .github/workflows/deploy.yml
Due: none

ci: use checkout v2
  .github/workflows/deploy.yml
Due: none

ci: remove checkout
  .github/workflows/deploy.yml
Due: none

ci: add deployment file to project
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

ci: add deployment file to project
  .github/workflows/cd.yml
Due: none

deploy: 5c234ec4c388e8eff4d4d91ffdf6d26d1ee8a938
  .nojekyll
  assets/Chat-68460cb8.js
  assets/Chat-a9100f73.css
  assets/Home-b0d2f554.js
  assets/Home-c4701c0d.css
  assets/index-7ef1f554.js
  assets/index-b6503412.css
  index.html
  vite.svg
Due: prettier --write

feat: add dist folder
  dist/assets/Chat-2f8647ab.js
  dist/assets/Chat-a9100f73.css
  dist/assets/Home-34ea4adf.js
  dist/assets/Home-c4701c0d.css
  dist/assets/index-318c2000.js
  dist/assets/index-b6503412.css
  dist/index.html
  dist/vite.svg
Due: prettier --write

ci: add deployment file to project
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  vite.config.ts
Due: prettier --write

feat: change name to deploy
  .github/workflows/deploy.yml
Due: none

deploy: 68e1c9dc074383b9c1b1e3008ea9031b4f59d0e9
  assets/Chat-2f8647ab.js
  assets/Chat-68460cb8.js
  assets/Home-34ea4adf.js
  assets/Home-b0d2f554.js
  assets/index-318c2000.js
  index.html
Due: prettier --write

feat: change vite path
  dist/assets/Chat-2f8647ab.js
  dist/assets/Chat-a9100f73.css
  dist/assets/Home-34ea4adf.js
  dist/assets/Home-c4701c0d.css
  dist/assets/index-318c2000.js
  dist/assets/index-b6503412.css
  dist/index.html
  dist/vite.svg
  tsconfig.json
  vite.config.ts
Due: prettier --write

deploy: 6b0f1248bd4de8674176922a894917aed625f035
  assets/Chat-2f8647ab.js
  assets/Chat-b51884fe.js
  assets/Home-34ea4adf.js
  assets/Home-5bb3dab8.js
  assets/index-b961f8fc.js
  index.html
Due: prettier --write

fix: change router config to work on gh-pages
  src/router/index.ts
Due: prettier --write

deploy: 2d44d08c4c081d96777372a1e22c1cd5967a0719
  assets/Chat-84ae0d1e.js
  assets/Chat-b51884fe.js
  assets/Home-5bb3dab8.js
  assets/Home-75ac7e37.js
  assets/index-57d537a8.js
  index.html
Due: prettier --write

fix: change router config to work on gh-pages
  vite.config.ts
Due: prettier --write

deploy: b6de0382bf2c9aee1145223f3868eeb3e97cd289
  assets/Chat-84ae0d1e.js
  assets/Chat-e4305471.js
  assets/Home-75ac7e37.js
  assets/Home-eaac9b76.js
  assets/index-f2892886.js
  index.html
Due: prettier --write

fix: change router config to work on gh-pages
  src/router/index.ts
  vite.config.ts
Due: prettier --write

deploy: e1477b4c179dc955a1d97c7774a04112b7e32f87
  assets/Chat-2f8647ab.js
  assets/Chat-e4305471.js
  assets/Home-34ea4adf.js
  assets/Home-eaac9b76.js
  assets/index-318c2000.js
  index.html
Due: prettier --write

test: add vitest and configure it on workflow
  .github/workflows/deploy.yml
  .lintstagedrc.json
  package.json
  src/Views/Private/Chat/__tests__/Chat.spec.ts
  src/Views/Public/Home/__tests__/Home.spec.ts
  vite.config.ts
  yarn.lock
Due: prettier --write

deploy: 27f7ecbb04efb5c36422ea3b6b8e33a51339274a
  assets/Chat-2f8647ab.js
  assets/Chat-87992c1e.js
  assets/Home-34ea4adf.js
  assets/Home-f63e8bff.js
  assets/index-0d9d1d5d.js
  assets/index-318c2000.js
  index.html
Due: prettier --write

test: try to fix vitest
  src/main.ts
  vite.config.ts
Due: prettier --write

deploy: 70b3e8445c5826946534ca1a055d2aef2b41c1d0
  assets/Chat-03256f6a.js
  assets/Chat-87992c1e.js
  assets/Home-f63e8bff.js
  assets/Home-fee17ef8.js
  assets/index-55b45cd4.js
  index.html
Due: prettier --write

test: try to fix vitest
  vite.config.ts
Due: prettier --write

test: try to fix vitest
  src/Views/Private/Chat/Chat.vue
Due: prettier --write

Path conditions:
  stylelint --syntax scss --fix: any of: *.scss
  prettier --write: any of: *.{js,jsx,ts,tsx,vue}
