Repository Ut-Devs/open-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint scss --fix, prettier --write, vitest related --run

.lintstagedrc.json:

{
	"*.scss": ["stylelint scss --fix"],
	"*.{js,jsx,ts,tsx,vue}": ["prettier --write"],
	"*.{js,ts, vue}": "vitest related --run"
}

deploy: 1da78038a3858f95dccfb7b2e52cb2c4372d0a9d
  assets/Chat-03256f6a.js
  assets/Chat-8c90a103.js
  assets/Home-7c05aad9.js
  assets/Home-fee17ef8.js
  assets/index-c1dd79e0.js
  index.html
Due: prettier --write, vitest related --run

chore: remove problems from vite plugins
  src/Views/Public/Home/__tests__/Home.spec.ts
  src/main.ts
  vite.config.ts
Due: prettier --write, vitest related --run

deploy: 5af6d8da84739db4a3bd2392477c45d925b26dc1
  assets/Chat-6847634d.js
  assets/Chat-8c90a103.js
  assets/Home-34c9f49b.js
  assets/Home-7c05aad9.js
  assets/index-c1dd79e0.js
  assets/index-db064b50.js
  index.html
Due: prettier --write, vitest related --run

chore: remove problems from vite plugins
  vite.config.ts
Due: prettier --write, vitest related --run

deploy: dd85116bab8db5b1919cfbcf70dc240ab9d79a03
  assets/Chat-2e0ab696.js
  assets/Chat-6847634d.js
  assets/Home-34c9f49b.js
  assets/Home-d39ef9da.js
  assets/index-ca4bcb2e.js
  index.html
Due: prettier --write, vitest related --run

chore: remove problems from vite plugins
  src/router/index.ts
Due: prettier --write, vitest related --run

deploy: 9f87a189a636a35feff331c665eadfb08020bd79
  assets/Chat-2e0ab696.js
  assets/Chat-575d1a32.js
  assets/Home-a6238e4a.js
  assets/Home-d39ef9da.js
  assets/index-763ce463.js
  index.html
Due: prettier --write, vitest related --run

feat: add icons lib, fix styling of input and fix deploy workflow
  .github/workflows/deploy.yml
  package.json
  src/Views/Private/Chat/Chat.scss
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/Messages/Messages.scss
  src/Views/Private/Chat/components/Messages/Messages.vue
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.scss
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.vue
  src/assets/css/globals.scss
  src/main.ts
  yarn.lock
Due: stylelint scss --fix, prettier --write, vitest related --run

test: add coverage collect to workflow
  .github/workflows/deploy.yml
  package.json
Due: none

test: add coverage tool
  package.json
  yarn.lock
Due: none

deploy: 4f162ba39e793ccc4eb6872eb6cd67b01ae0f912
  assets/Chat-575d1a32.js
  assets/Chat-7b7445bc.js
  assets/Chat-7fb73f96.css
  assets/Chat-a9100f73.css
  assets/Home-21be3875.js
  assets/Home-a6238e4a.js
  assets/index-007de93d.css
  assets/index-65b65854.js
  assets/index-763ce463.js
  assets/index-b6503412.css
  index.html
Due: prettier --write, vitest related --run

ci: setup sonar
  .github/workflows/sonar.yml
  sonar-project.properties
Due: none

ci: setup only on ci file
  .github/workflows/deploy.yml
  .github/workflows/sonar.yml
Due: none

ci: setup only on ci file
  .github/workflows/deploy.yml
Due: none

test: add tests to improve coverage
  sonar-project.properties
  src/Views/Private/Chat/__tests__/Chat.spec.ts
  src/Views/Public/Home/__tests__/Home.spec.ts
  src/helpers/strings/__tests__/strings.spec.ts
Due: prettier --write, vitest related --run

test: add tests to improve coverage
  .github/workflows/deploy.yml
  .gitignore
  sonar-project.properties
  vite.config.ts
Due: prettier --write, vitest related --run

ci: remove undefined dependence
  .github/workflows/deploy.yml
Due: none

feat: style chat header and fix bugs around chat body
  src/Views/Private/Chat/Chat.scss
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.scss
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.vue
  src/Views/Private/Chat/components/Messages/Messages.scss
  src/Views/Private/Chat/components/Messages/Messages.vue
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.scss
  src/assets/css/globals.scss
  src/assets/css/mixins.scss
  src/main.ts
Due: stylelint scss --fix, prettier --write, vitest related --run

feat: style chat header desktop breakpoint and pull request template
  .github/pull-request-template.md
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.scss
  src/Views/Private/Chat/components/Messages/Message.scss
  src/Views/Private/Chat/components/Messages/Message.vue
  src/Views/Private/Chat/components/Messages/__tests__/Messages.spec.ts
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.scss
  src/assets/css/globals.scss
  src/assets/css/mixins.scss
Due: stylelint scss --fix, prettier --write, vitest related --run

feat: add sonar quality gate to pull requests
  sonar-project.properties
Due: none

ci: add pull request ci
  .github/workflows/pull_request.yml
Due: none

feat: add sonar quality gate to pull requests
  .github/workflows/pull_request.yml
Due: none

feat: add sonar quality gate to pull requests
  .github/workflows/pull_request.yml
  sonar-project.properties
Due: none

feat: create new contacts view and add motion to create animations in components
  package.json
  src/Views/Private/Chat/Chat.scss
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/__tests__/Chat.spec.ts
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.scss
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.vue
  src/Views/Private/Chat/components/Messages/Message.vue
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.vue
  src/Views/Private/ContactsList/ContactsList.scss
  src/Views/Private/ContactsList/ContactsList.vue
  src/Views/Private/ContactsList/components/Contact/Contact.scss
  src/Views/Private/ContactsList/components/Contact/Contact.vue
  src/assets/css/globals.scss
  src/main.ts
  src/router/Private/ContactsList.ts
  src/router/Private/index.ts
  src/store/chat/index.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: stylelint scss --fix, prettier --write, vitest related --run

test: fix breaking tests and add mock validation to scrollIntoView
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/__tests__/Chat.spec.ts
  src/Views/Private/Chat/components/Message/Message.scss
  src/Views/Private/Chat/components/Message/Message.vue
  src/Views/Private/Chat/components/Message/__tests__/Message.spec.ts
  tsconfig.json
Due: stylelint scss --fix, prettier --write, vitest related --run

feat: add desktop first design and fix messages send rendering problem
  src/App.vue
  src/Views/Private/Chat/Chat.scss
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.scss
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.vue
  src/Views/Private/Chat/components/Message/Message.scss
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.scss
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.vue
  src/Views/Private/ContactsList/ContactsList.scss
  src/Views/Public/Home/Home.vue
  src/store/chat/index.ts
Due: stylelint scss --fix, prettier --write, vitest related --run
