Repository Ut-Devs/open-chat: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint scss --fix, prettier --write, vitest related --run

.lintstagedrc.json:

{
	"*.scss": ["stylelint scss --fix"],
	"*.{js,jsx,ts,tsx,vue}": ["prettier --write"],
	"*.{js,ts, vue}": "vitest related --run"
}

feat: create contacts header and add search bar input on that
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.scss
  src/Views/Private/Chat/components/ChatHeader/ChatHeader.vue
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.scss
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.vue
  src/Views/Private/ContactsList/ContactsList.scss
  src/Views/Private/ContactsList/ContactsList.vue
  src/Views/Private/ContactsList/components/Contact/Contact.scss
  src/Views/Private/ContactsList/components/Contact/Contact.vue
  src/Views/Private/ContactsList/components/ContactsListHeader/ContactsListHeader.scss
  src/Views/Private/ContactsList/components/ContactsListHeader/ContactsListHeader.vue
  src/assets/css/globals.scss
  src/components/Input/Input.scss
  src/components/Input/Input.vue
  src/main.ts
Due: stylelint scss --fix, prettier --write, vitest related --run

chore: fix route path on home pages
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/Message/Message.scss
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.scss
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.vue
  src/Views/Private/ContactsList/ContactsList.vue
  src/store/chat/index.ts
Due: stylelint scss --fix, prettier --write, vitest related --run

feat: integrate frontend with websocket local server
  src/Views/Private/Chat/Chat.vue
  src/Views/Private/Chat/components/Message/Message.vue
  src/Views/Private/Chat/components/Message/__tests__/Message.spec.ts
  src/Views/Private/Chat/components/SendMessageInput/SendMessageInput.vue
  src/main.ts
  src/models/Message.model.ts
  src/shims.d.ts
  src/store/user/index.ts
Due: prettier --write, vitest related --run

chore: fix dependencies
  package.json
  src/main.ts
  yarn.lock
Due: prettier --write, vitest related --run

fix: workflow sonar
  .github/workflows/deploy.yml
Due: none

fix: workflow sonar
  .github/workflows/deploy.yml
  sonar-project.properties
Due: none

deploy: 7c8b8804d1dbb9f40395b1783270f7f3f59355ee
  assets/Chat-372e47e3.css
  assets/Chat-7b7445bc.js
  assets/Chat-7fb73f96.css
  assets/Chat-a5e5c74f.js
  assets/ContactsList-38bfb782.css
  assets/ContactsList-62161ce6.js
  assets/Home-21be3875.js
  assets/Home-2d7f2b52.js
  assets/Home-3db2bb23.css
  assets/Home-c4701c0d.css
  assets/index-007de93d.css
  assets/index-444ab228.js
  assets/index-65b65854.js
  assets/index-d61007a2.css
  index.html
Due: prettier --write, vitest related --run

fix: workflow sonar
  src/main.ts
Due: prettier --write, vitest related --run

deploy: 0933cad50969da9559d2544763132d0d2bf4130e
  assets/Chat-a5e5c74f.js
  assets/Chat-bdb18faa.js
  assets/ContactsList-62161ce6.js
  assets/ContactsList-70f054af.js
  assets/Home-2d7f2b52.js
  assets/Home-e0e25a8e.js
  assets/index-5cbe7ecf.js
  index.html
Due: prettier --write, vitest related --run

fix: workflow sonar
  .htaccess
Due: none

fix: workflow sonar
  .htaccess
  index.html
  public/404.html
  src/router/index.ts
Due: prettier --write, vitest related --run

deploy: 9918d34354a9f95f494b6a040be8285c375794a3
  404.html
  assets/Chat-89c42875.js
  assets/Chat-bdb18faa.js
  assets/ContactsList-70f054af.js
  assets/ContactsList-77e13354.js
  assets/Home-764f9cae.js
  assets/Home-e0e25a8e.js
  assets/index-f0e22d82.js
  index.html
Due: prettier --write, vitest related --run

Create CNAME
  CNAME
Due: none

Update CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

fix: workflow sonar
  package.json
Due: none

fix: workflow sonar
  index.html
  public/404.html
Due: none

deploy: f77a59371d7f3723f15ec2507a4fa876c057496d
  404.html
  index.html
Due: none

fix: routerr
  vite.config.ts
Due: prettier --write, vitest related --run

fix: router
  .gitignore
  netlify.toml
Due: none
